<?xml version='1.0' encoding='utf-8'?>

<Context>
	<Resource auth="Container" driverClassName="com.mysql.jdbc.Driver"
	maxActive="100" maxIdle="30" maxWait="10000" name="jdbc/gh" password="123456"
	type="javax.sql.DataSource" url="jdbc:mysql://localhost:3306/test?characterEncoding=utf-8"
	username="root" />
</Context>